USE [PREVENCION CONTRA EL DENGUE]
GO
/****** Object:  Table [dbo].[CASOSDENGUE1]    Script Date: 31/07/2024 13:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CASOSDENGUE1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHAREGISTRO] [date] NOT NULL,
	[NOMBREPACIENTE] [nvarchar](100) NOT NULL,
	[EDAD] [int] NULL,
	[SEXO] [nvarchar](10) NULL,
	[DEPARTAMENTO] [nvarchar](50) NULL,
	[DIRECCION] [nvarchar](50) NULL,
	[FECHAINICIOSINTOMAS] [date] NULL,
	[FECHADIAGNOSTICO] [date] NULL,
	[GRAVEDAD] [nvarchar](50) NULL,
	[OBSERVACIONES] [nvarchar](max) NULL,
	[FOTOPACIENTE] [nvarchar](200) NULL,
	[CONTROLGRIDVIEWDATA_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTROLGRIDVIEWDATA]    Script Date: 31/07/2024 13:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTROLGRIDVIEWDATA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[DESCRIPCION] [nvarchar](max) NULL,
	[FECHACREACION] [date] NOT NULL,
	[USUARIOCREACION] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ENCUESTASTRATAMIENTODENGUE]    Script Date: 31/07/2024 13:50:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENCUESTASTRATAMIENTODENGUE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBREPACIENTE] [nvarchar](100) NOT NULL,
	[FECHAENCUESTA] [date] NOT NULL,
	[TRATAMIENTOFUNCIONO] [bit] NOT NULL,
	[COMENTARIOS] [nvarchar](max) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[CASOSDENGUE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[CASOSDENGUE1]  WITH CHECK ADD FOREIGN KEY([CONTROLGRIDVIEWDATA_ID])
REFERENCES [dbo].[CONTROLGRIDVIEWDATA] ([ID])
GO
ALTER TABLE [dbo].[ENCUESTASTRATAMIENTODENGUE]  WITH CHECK ADD  CONSTRAINT [FK_ENCUESTASTRATAMIENTODENGUE_CASOSDENGUE1] FOREIGN KEY([ID])
REFERENCES [dbo].[CASOSDENGUE1] ([ID])
GO
ALTER TABLE [dbo].[ENCUESTASTRATAMIENTODENGUE] CHECK CONSTRAINT [FK_ENCUESTASTRATAMIENTODENGUE_CASOSDENGUE1]
GO
